.page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    .heading-h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0rem 13rem;
  
      .plane {
          display: flex;
          margin-top: 6rem;
        margin-bottom: 3rem;
        position: relative;
        align-items: center;
        width: 80%; /* Adjust as needed */
        box-sizing: border-box;
        border: 14px solid;
        border-image: linear-gradient(to right, teal, #003366);
        border-image-slice: 1;
        .plane-p {
          width: 50%;
          padding-left: 50px;
        }
  
        .planeImg {
          position: absolute;
          right: -160px;
          bottom: -40px;
          height: 140%;
          width: 60%;
          z-index: 2;
        }
      }
    }
    .hr-text {
        border: 0;
        font-size: 14px;
        height: 1.5em;
        line-height: 1em;
        position: relative;
        text-align: center;
        font-weight: 600;
        font-size: 24px;
      }
      .hr-text::before {
        content: "";
        background: linear-gradient(to right, transparent,teal, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }
    .hr-text::after {
        background-color: white;
        color: black;
        content: attr(data-content);
        line-height: 1.5em;
        padding: 0 7px;
        position: relative;
    }
    
    .btn-main{
        background-color: rgb(255, 85, 0);
        border-radius: 20px;
        border: none;
        padding: 12px 30px;
        color: white;
        margin: 5px;
        cursor: pointer;
    }
    .travel-main{
        width: 65vw;
    .cardholder{
        display: flex;
        margin: 20px 30px;
        .card{
            display: flex;
            flex-direction: column;
            padding: 20px;
            align-items: center;
            justify-content: center;
            .card-title{
                font-weight: bold;
                padding: 5px;
            }
            .card-text{
                font-weight: lighter;
                padding: 5px;
            }
            .card-img{
                width: 10rem;
                padding: 5px;
            }
        }
    }
}

        .imgLondon{
            width: 100vw;
            height: 15rem;
            
        }
.travel2{
    width: 65rem;
    margin: 20px 0px;
    .cardholder{
        display: flex;
        margin: 20px 30px;
        .card{
            display: flex;
            flex-direction: column;
            padding: 20px;
            align-items: center;
            justify-content: center;
            .card-title{
                font-weight: bold;
                padding: 5px;
            }
            .card-text{
                font-weight: lighter;
                padding: 5px;
            }
            .card-img{
                width: 10rem;
                padding: 5px;
            }
        }
    }
}
    .travel{
        width: 30%;
        .card-title1{
            font-weight: bold;
            align: left;
        }
        .travel-img{
            width: 100%;
        }
    }
    .italy{
        display: flex;
        flex-direction: column;
        background-image : url("../images/Amazing.jpg");
        width: 100vw;
        height: 60vh;
        left: 0;
        color:white;
        background-position: center;
        object-fit: cover;
        background-size: cover;
        align-items: center;
        justify-content: center;
        .italy-con{
            display: flex;
            flex-direction: column;
            width: 70vw;
            align-content: center;
            align-items: center;
            justify-content: center;
    
            .btn-con{
                display: flex;
                margin: 20px;
                align-items: center;
                justify-content: center;
                .ital{
                    margin: 10px;;
                }
            }
        }
        
    }
    .travel3{
        width: 65rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .cardholder{
        display: flex;
        .card-blog{
            margin: 20px;
            width: 50%;
            .blog-text{
                display: flex;
                flex-direction: column;
            }
            
            .blog-img{
                display: flex;
                width: 100%;
                position: relative;
                .date{
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: white;
                    font-weight: 400;
                    padding: 8px;
                    font-size: 12px;
                    background-color: black;
                }
            }
            .blog-con{
                display: flex;
                justify-content: space-between;
                .postby{
                    display: flex;
                    color: rgb(31, 191, 255);
                    font-weight: 500;
                    padding: 10px 0px;
                    padding: 0px 10px;
                    font-weight: 500;
                }
                .likecomm{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .like{
                        display: flex;
                        align-items: center;
                    justify-content: center;
                    padding: 0px 10px;
                    }
                    .comment{
                        display: flex;
                        align-items: center;
                    justify-content: center;
                    padding: 0px 10px;
    
                    }
                }
            }
        }
    }
} 